:root {
	--primary-text-color: #373737;
	--main-color: #E5E5E5;
}

body{
	font-family: 'Grtsk Giga', sans-serif;
	color: var(--primary-text-color);
	background: var(--main-color);
	background-image:  url("../images/Ellipse.png"), url("../images/background_text.png");  
    background-position: center center, center center;
    background-repeat: no-repeat, no-repeat ;
}

h1,h2,h3,.h1,.h2,.h3{
	font-weight: 700;
	color: #333;
}

.content-text ul{
	list-style-type: disc;
	padding-left: 50px;
}

.container{
	max-width: 1440px;
	padding: 30px;
	margin: 0 auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.col{
	margin: 15px;
	box-sizing: border-box;
}

